<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <div class="overview-page">
      <page-description>
        Overview of the known datasets with respect to the existance of
        annotations
      </page-description>
      <div class="table-div">
        <div v-if="isLoading">
          <base-spinner></base-spinner>
        </div>
        <div v-else>
          <div v-if="hasDataAnnotations">
            <table class="table table-hover header-fixed">
              <thead>
                <data-annotation-sorting
                  @change-sorting="setSorting"
                ></data-annotation-sorting>
              </thead>
              <tbody>
                <data-annotation-entry
                  v-for="annotation in sortedDataAnnotationOverview"
                  :key="annotation.id"
                  :id="annotation.id"
                  :datasetName="annotation.datasetName"
                  :status="annotation.status"
                ></data-annotation-entry>
              </tbody>
            </table>
          </div>
          <h3 class="text-center" v-else>No Datasets yet</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageDescription from '../../components/layout/PageDescription.vue';
import DataAnnotationSorting from '../../components/data_annotation/overview/DataAnnotationSorting.vue';
import DataAnnotationEntry from '../../components/data_annotation/overview/DataAnnotationEntry.vue';

export default {
  components: {
    PageDescription,
    DataAnnotationSorting,
    DataAnnotationEntry,
  },
  data() {
    return {
      isLoading: false,
      error: null,
      currentSorting: {
        datasetName: true,
        status: false,
        descending: false,
      },
    };
  },
  computed: {
    sortedDataAnnotationOverview() {
      const data_annotation_overview =
        this.$store.getters['dataAnnotations/dataAnnotationOverview'];
      if (this.currentSorting['datasetName']) {
        data_annotation_overview.sort((annotationA, annotationB) => {
          if (annotationA.datasetName == annotationB.datasetName) {
            return 0;
          }
          if (annotationA.datasetName < annotationB.datasetName) {
            return -1;
          }
          return 1;
        });
      }
      if (this.currentSorting['status']) {
        data_annotation_overview.sort(
          (annotationA, annotationB) => annotationA.status - annotationB.status
        );
      }
      if (this.currentSorting['descending']) {
        data_annotation_overview.reverse();
      }
      return data_annotation_overview;
    },
    hasDataAnnotations() {
      return (
        !this.isLoading &&
        this.$store.getters['dataAnnotations/hasDataAnnotations']
      );
    },
  },
  created() {
    this.loadDataAnnotationOverview();
  },
  methods: {
    setSorting(updatedSorting) {
      this.currentSorting = updatedSorting;
    },
    async loadDataAnnotationOverview(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch(
          'dataAnnotations/loadDataAnnotationOverview',
          {
            forceRefresh: refresh,
          }
        );
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.table-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
