<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <dead-end
      v-if="dataNotFound"
      title="Data not found"
      exitRoute="/data-annotation"
      exitName="Data Annotation Page"
    ></dead-end>
    <div v-else class="overview-page">
      <page-description>
        Annotations for Dataset „{{ datasetName }}“
        <template v-slot:right>
          <base-button icon="view_list" @click="clickPeekData"
            >Peek Data</base-button
          >
        </template>
        <dataset-peek
          :show="!!showPeek"
          :id="id"
          @close="closePeekData"
        ></dataset-peek>
      </page-description>
      <div class="table-div">
        <div v-if="isLoading">
          <base-spinner></base-spinner>
        </div>
        <div v-else>
          <div v-if="hasColumns">
            <table class="table table-hover header-fixed">
              <thead>
                <data-annotation-sorting
                  @change-sorting="setSorting"
                ></data-annotation-sorting>
              </thead>
              <tbody>
                <data-annotation-entry
                  v-for="annotation in sortedAnnotations"
                  :key="annotation.columnIndex"
                  :id="annotation.columnIndex"
                  :columnName="annotation.columnName"
                  :scaleType="annotation.scaleType"
                  :isTarget="annotation.isTarget"
                  :isIgnore="annotation.isIgnore"
                  @change-target="changeTarget"
                  @change-ignore="changeIgnore"
                  @scale-type-changed="changeScaleType"
                ></data-annotation-entry>
              </tbody>
            </table>
          </div>
          <h3 class="text-center" v-else>No Columns found</h3>
        </div>
      </div>
      <div class="mt-4 w-100 d-flex justify-content-between">
        <base-button icon="close" link to="/data-annotation">
          Discard
        </base-button>
        <base-button icon="save" @click="clickSave"> Save </base-button>
      </div>
    </div>
  </div>
</template>

<script>
import PageDescription from '../../components/layout/PageDescription.vue';
import DatasetPeek from '../../components/data_annotation/editor/DatasetPeek.vue';
import DataAnnotationSorting from '../../components/data_annotation/editor/DataAnnotationSorting.vue';
import DataAnnotationEntry from '../../components/data_annotation/editor/DataAnnotationEntry.vue';
import DeadEnd from '../../components/layout/DeadEnd.vue';

export default {
  props: ['id'],
  components: {
    PageDescription,
    DatasetPeek,
    DataAnnotationSorting,
    DataAnnotationEntry,
    DeadEnd,
  },
  data() {
    return {
      isLoading: false,
      error: null,
      dataAnnotation: null,
      showPeek: false,
      descendingSorting: true,
    };
  },
  computed: {
    dataNotFound() {
      return !!(this.dataAnnotation == null);
    },
    datasetName() {
      return this.dataAnnotation.datasetName;
    },
    sortedAnnotations() {
      const annotations = [...this.dataAnnotation.annotations];
      annotations.sort((annotationA, annotationB) => {
        if (annotationA.columnName == annotationB.columnName) {
          return 0;
        }
        if (annotationA.columnName < annotationB.columnName) {
          return -1;
        }
        return 1;
      });
      if (this.descendingSorting) {
        annotations.reverse();
      }
      return annotations;
    },
    hasColumns() {
      return this.dataAnnotation && this.dataAnnotation.annotations.length > 0;
    },
  },
  created() {
    this.loadDataAnnotations();
  },
  methods: {
    setSorting(updatedSorting) {
      this.descendingSorting = updatedSorting;
    },
    changeTarget(columnIndex) {
      var annotation = this.dataAnnotation.annotations.find(
        (entry) => entry.columnIndex == columnIndex
      );
      if (annotation.isTarget) {
        annotation.isTarget = false;
        return;
      }
      this.dataAnnotation.annotations.forEach((entry) => {
        entry.isTarget = false;
      });
      annotation.isTarget = true;
    },
    changeIgnore(columnIndex) {
      var annotation = this.dataAnnotation.annotations.find(
        (entry) => entry.columnIndex == columnIndex
      );
      annotation.isIgnore = !annotation.isIgnore;
    },
    changeScaleType(columnIndex, newValue) {
      var annotation = this.dataAnnotation.annotations.find(
        (entry) => entry.columnIndex == columnIndex
      );
      annotation.scaleType = newValue;
    },
    async loadDataAnnotations(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('dataAnnotations/loadDataAnnotations', {
          id: this.id,
          forceRefresh: refresh,
        });
        this.dataAnnotation =
          this.$store.getters['dataAnnotations/dataAnnotations'];
        if (this.dataAnnotation == null) {
          throw new Error(`There is no dataset with id '${this.id}'!`);
        }
        // clear alias
        this.dataAnnotation = JSON.parse(JSON.stringify(this.dataAnnotation));
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    async clickSave() {
      try {
        await this.$store.dispatch('dataAnnotations/editDataAnnotations', {
          id: this.id,
          data: this.dataAnnotation,
        });
        this.$router.push('/data-annotation');
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
    },
    clickPeekData() {
      this.showPeek = true;
    },
    closePeekData() {
      this.showPeek = false;
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.table-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
