/*
// Footer
// --------------------------------------------------
*/

.footer-section p {
    font-size: 12px;
    color: #fff;
    margin: 22px 0
}


/*
// Explore
// --------------------------------------------------
*/

.explore-abstract {
    font-size: 14px;
    line-height: 1.4;
    color: #444;
    border-left: 3px solid #e9e9e9;
    padding-left: 10px;
    margin: 7px 0px 3px 4px;
    text-align: justify;
}



/*
// Content Manager
// --------------------------------------------------
*/

.content-edit .panel {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content-edit .panel-default>.panel-heading {
    color: #11141e;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 0;
}

.content-edit .panel-default>.panel-heading a{
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

.content-edit .panel-body {
    padding: 15px 0 0 0;
}

/*
// Content Display
// --------------------------------------------------
*/

.nav-tabs {
    background-color: #f5f5f5;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus{
    background-color: transparent;
    border-color: transparent;
    border-bottom: 4px solid #11141e;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-bottom-color: #ff8700 !important;
}

.nav-tabs>li>a {
    color: #11141e !important;
    font-weight: bold;
}

#taxonomy-editor-panel .panel-heading {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

#taxonomy-editor-panel .nav-tabs {
    margin: -15px;
}

.content-author {
    font-weight: bold;
}


/*
// Collapse
// --------------------------------------------------
*/


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    margin-top: -10px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    margin-top: -10px;
}
