<template>
  <base-dialog :show="show" title="Available Datasets" @close="close">
    <div v-if="!!error">
      <p>{{ error }}</p>
    </div>
    <div v-else class="content-div">
      <div v-if="isLoading">
        <base-spinner></base-spinner>
      </div>
      <div v-else>
        <div v-if="hasDataAnnotations">
          <table class="table table-hover header-fixed">
            <thead>
              <data-annotation-sorting
                @change-sorting="setSorting"
              ></data-annotation-sorting>
            </thead>
            <tbody>
              <data-annotation-entry
                v-for="annotation in sortedDataAnnotationOverview"
                :key="annotation.id"
                :id="annotation.id"
                :datasetName="annotation.datasetName"
                :status="annotation.status"
                selectMode
                @dataset-selected="onSelectDataset"
              ></data-annotation-entry>
            </tbody>
          </table>
        </div>
        <h3 class="text-center" v-else>No Datasets yet</h3>
      </div>
    </div>
  </base-dialog>
</template>

<script>
import DataAnnotationSorting from '../../../components/data_annotation/overview/DataAnnotationSorting.vue';
import DataAnnotationEntry from '../../../components/data_annotation/overview/DataAnnotationEntry.vue';

export default {
  components: {
    DataAnnotationSorting,
    DataAnnotationEntry,
  },
  emits: ['close', 'dataset-selected'],
  props: ['show'],
  data() {
    return {
      isLoading: false,
      error: null,
      currentSorting: {
        datasetName: true,
        status: false,
        descending: false,
      },
    };
  },
  computed: {
    sortedDataAnnotationOverview() {
      const data_annotation_overview =
        this.$store.getters['dataAnnotations/dataAnnotationOverview'];
      if (this.currentSorting['datasetName']) {
        data_annotation_overview.sort((annotationA, annotationB) => {
          if (annotationA.datasetName == annotationB.datasetName) {
            return 0;
          }
          if (annotationA.datasetName < annotationB.datasetName) {
            return -1;
          }
          return 1;
        });
      }
      if (this.currentSorting['status']) {
        data_annotation_overview.sort(
          (annotationA, annotationB) => annotationA.status - annotationB.status
        );
      }
      if (this.currentSorting['descending']) {
        data_annotation_overview.reverse();
      }
      return data_annotation_overview;
    },
    hasDataAnnotations() {
      return (
        !this.isLoading &&
        this.$store.getters['dataAnnotations/hasDataAnnotations']
      );
    },
  },
  watch: {
    show: function (newVal, _) {
      if (newVal) {
        this.loadDataAnnotationOverview();
      } else {
        this.isLoading = false;
        this.error = null;
      }
    },
  },
  methods: {
    setSorting(updatedSorting) {
      this.currentSorting = updatedSorting;
    },
    async loadDataAnnotationOverview(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch(
          'dataAnnotations/loadDataAnnotationOverview',
          {
            forceRefresh: refresh,
          }
        );
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    close() {
      this.$emit('close');
    },
    onSelectDataset(datasetID, datasetName, dataAnnotationStatus) {
      this.$emit(
        'dataset-selected',
        datasetID,
        datasetName,
        dataAnnotationStatus
      );
      this.$emit('close');
    },
  },
};
</script>

<style scoped>
tr,
td {
  border-color: transparent;
}

.table {
  margin: 0 !important;
}

.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
</style>
