<template>
  <base-dialog :show="show" title="Current Knowledge Base" @close="close">
    <div v-if="!!error">
      <p>{{ error }}</p>
    </div>
    <div v-else class="content-div">
      <div v-if="isLoading">
        <base-spinner></base-spinner>
      </div>
      <div v-else>
        <div v-if="hasKnowledgeData">
          <knowledge-group
            v-for="[index, knowledgeGroup] of knowledgeGroups"
            :key="knowledgeGroup.name"
            :id="index"
            :mode="knowledgeGroupMode"
            :knowledgeGroup="knowledgeGroup"
          ></knowledge-group>
        </div>
        <h3 class="text-center" v-else>No Knowledge yet</h3>
      </div>
    </div>
    <template v-if="!readonly" v-slot:actions>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
          <base-button icon="check_box" @click="onSelectAll">
            Select All
          </base-button>
          <base-button
            class="ml-2"
            icon="check_box_outline_blank"
            @click="onDeselectAll"
          >
            Deselect All
          </base-button>
        </div>
        <div class="d-flex align-items-center">
          <base-button icon="save" @click="onSelectKnowledge">
            Use Selection
          </base-button>
          <base-button class="ml-2" icon="close" @click="close">
            Discard
          </base-button>
        </div>
      </div>
    </template>
  </base-dialog>
</template>

<script>
import KnowledgeGroup from '../../knowledge/overview/KnowledgeGroup.vue';

export default {
  components: {
    KnowledgeGroup,
  },
  emits: ['close', 'knowledge-selected'],
  props: ['show', 'selection', 'readonly'],
  data() {
    return {
      isLoading: true,
      error: null,
      knowledgeData: null,
    };
  },
  computed: {
    hasKnowledgeData() {
      return !this.isLoading && this.knowledgeData.length > 0;
    },
    knowledgeGroups() {
      return this.knowledgeData.entries();
    },
    knowledgeGroupMode() {
      if (this.readonly) {
        return 'selected';
      } else {
        return 'selection';
      }
    },
  },
  watch: {
    show: function (newVal, _) {
      if (newVal) {
        this.loadKnowledgeData();
      } else {
        this.isLoading = true;
        this.error = null;
        this.knowledgeData = null;
      }
    },
  },
  methods: {
    async loadKnowledgeData(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('knowledge/loadKnowledgeData', {
          forceRefresh: refresh,
        });
        this.knowledgeData = this.$store.getters['knowledge/knowledgeData'];
        // clear alias
        this.knowledgeData = JSON.parse(JSON.stringify(this.knowledgeData));
        this.knowledgeData.forEach((group) => {
          group.entries.forEach(
            (entry) => (entry.isSelected = this.selection.includes(entry.id))
          );
        });
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
    getCurrentSelection() {
      var selection = [];
      this.knowledgeData.forEach((group) => {
        group.entries.forEach((entry) => {
          if (entry.isSelected) {
            selection.push(entry.id);
          }
        });
      });
      return selection;
    },
    close() {
      this.$emit('close');
    },
    onSelectKnowledge() {
      this.$emit('knowledge-selected', this.getCurrentSelection());
      this.$emit('close');
    },
    onSelectAll() {
      this.knowledgeData.forEach((group) => {
        group.entries.forEach((entry) => (entry.isSelected = true));
      });
    },
    onDeselectAll() {
      this.knowledgeData.forEach((group) => {
        group.entries.forEach((entry) => (entry.isSelected = false));
      });
    },
  },
};
</script>

<style scoped>
.content-div {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
</style>
