<template>
  <div class="text-center mt-4">
    <h2>{{ title }}</h2>
    <p>
      maybe go back to the
      <router-link :to="exitRoute"> {{ exitName }} </router-link>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
      default: null,
    },
    exitRoute: {
      type: String,
      required: false,
      default: null,
    },
    exitName: {
      type: String,
      required: false,
      default: null,
    },
  },
};
</script>
