<template>
  <div class="page-description-layout">
    <span class="page-description-text">
      <slot></slot>
    </span>
    <slot name="right"></slot>
  </div>
</template>

<style scoped>
.page-description-layout {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 55px;
}
.page-description-text {
  font-weight: normal;
  font-size: 20px;
}
</style>
