<template>
  <ul class="nav nav-tabs card-header-tabs mx-0 px-0">
    <li class="name-tag mr-5">
      <base-tooltip
        tooltip="Customizable Analysis Method Recommendation Intelligence"
        width="300"
        position="bottom"
      >
        <span>CAMeRI@AI2VIS4BigData</span>
      </base-tooltip>
    </li>
    <li class="nav-item mr-3">
      <router-link
        to="/query"
        class="nav-link"
        v-bind:class="{ active: $route.path.startsWith('/query') }"
        >Query Overview</router-link
      >
    </li>
    <li class="nav-item mr-3">
      <router-link
        to="/data-annotation"
        class="nav-link"
        v-bind:class="{ active: $route.path.startsWith('/data-annotation') }"
        >Data Annotation</router-link
      >
    </li>
    <li class="nav-item mr-3">
      <router-link
        to="/knowledge"
        class="nav-link"
        v-bind:class="{ active: $route.path.startsWith('/knowledge') }"
        >Knowledge Center</router-link
      >
    </li>
    <span class="ml-auto mt-1">
      <a
        class="leave-btn"
        href="/ivis4bigdata/data/raw"
        role="button"
        >Go to IVIS4BigData ></a
      >
    </span>
  </ul>
</template>

<style scoped>
.name-tag {
  font-size: 24px;
  font-weight: bold;
}
.leave-btn {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  background-color: var(--cameri-primary);
  border-radius: 6px;
}
.nav-tabs .nav-item a:hover {
  background-color: hsl(0, 0%, 80%) !important;
}
.nav-tabs .nav-link {
  color: var(--cameri-primary) !important;
  font-size: 20px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
</style>
