<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <dead-end
      v-if="dataNotFound"
      title="Knowledge not found"
      exitRoute="/knowledge"
      exitName="Knowledge Center"
    ></dead-end>
    <div v-else class="overview-page">
      <h1 class="w-100 text-center mt-5">page under construction</h1>
      <p style="font-size: 20pt" class="mt-5">Data for selected knowledge:</p>
      <p>name: {{ name }}</p>
      <p>group: {{ group }}</p>
      <p>expression: {{ expression }}</p>
    </div>
  </div>
</template>

<script>
import DeadEnd from '../../components/layout/DeadEnd.vue';
export default {
  props: ['id'],
  components: {
    DeadEnd,
  },
  data() {
    return {
      isLoading: true,
      error: null,
      knowledgeEntry: null,
    };
  },
  computed: {
    dataNotFound() {
      return !!(this.knowledgeEntry == null);
    },
    name() {
      return this.knowledgeEntry.name;
    },
    group() {
      return this.knowledgeEntry.group;
    },
    expression() {
      return this.knowledgeEntry.expression;
    },
  },
  created() {
    this.loadKnowledgeEntry();
  },
  methods: {
    async loadKnowledgeEntry(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('knowledge/loadKnowledgeEntry', {
          id: this.id,
        });
        this.knowledgeEntry = this.$store.getters['knowledge/knowledgeEntry'];
        if (this.knowledgeEntry == null) {
          throw new Error(`There is no knowledge with id '${this.id}'!`);
        }
        // clear alias
        this.knowledgeEntry = JSON.parse(JSON.stringify(this.knowledgeEntry));
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.content-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
