<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <div v-if="isLoading" class="mt-5">
      <base-spinner></base-spinner>
    </div>
    <div v-else class="overview-page h-100">
      <page-description>
        Overview of the registered entries in the knowledge base grouped by
        their kind
      </page-description>
      <div class="content-div">
        <div v-if="hasKnowledgeData">
          <knowledge-group
            v-for="[index, knowledgeGroup] of knowledgeGroups"
            :key="index"
            :id="index"
            mode="overview"
            :knowledgeGroup="knowledgeGroup"
          ></knowledge-group>
        </div>
        <h3 class="text-center" v-else>No Knowledge yet</h3>
      </div>
    </div>
  </div>
</template>

<script>
import PageDescription from '../../components/layout/PageDescription.vue';
import KnowledgeGroup from '../../components/knowledge/overview/KnowledgeGroup.vue';

export default {
  components: {
    PageDescription,
    KnowledgeGroup,
  },
  data() {
    return {
      isLoading: true,
      error: null,
      knowledgeData: null,
    };
  },
  computed: {
    hasKnowledgeData() {
      return !this.isLoading && this.knowledgeData.length > 0;
    },
    knowledgeGroups() {
      return this.knowledgeData.entries();
    },
  },
  created() {
    this.loadKnowledgeData();
  },
  methods: {
    async loadKnowledgeData(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('knowledge/loadKnowledgeData', {
          forceRefresh: refresh,
        });
        this.knowledgeData = this.$store.getters['knowledge/knowledgeData'];
        // clear alias
        this.knowledgeData = JSON.parse(JSON.stringify(this.knowledgeData));
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.content-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
