<template>
  <tr>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Dataset</span>
        <base-icon
          tooltipText="Sort by Dataset Name"
          tooltipPosition="bottom"
          tooltipWidth="150"
          class="icon"
          :flippedV="
            !(this.sorting['datasetName'] && this.sorting['descending'])
          "
          clickable
          :active="this.sorting['datasetName']"
          @click="setSorting('datasetName')"
        >
          sort
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Annotation Evaluation</span>
        <base-icon
          tooltipText="Sort by Existance of Data Annotation"
          tooltipPosition="bottom"
          tooltipWidth="200"
          class="icon"
          :flippedV="!(this.sorting['status'] && this.sorting['descending'])"
          clickable
          :active="this.sorting['status']"
          @click="setSorting('status')"
        >
          sort
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span>Actions</span>
      </div>
    </th>
  </tr>
</template>

<script>
export default {
  emits: ['change-sorting'],
  data() {
    return {
      sorting: {
        datasetName: true,
        status: false,
        descending: false,
      },
    };
  },
  methods: {
    setSorting(id) {
      if (this.sorting[id]) {
        this.sorting['descending'] = !this.sorting['descending'];
      } else {
        for (const key in this.sorting) {
          this.sorting[key] = false;
        }
        this.sorting[id] = true;
        this.sorting['descending'] = false;
      }
      this.$emit('change-sorting', this.sorting);
    },
  },
};
</script>

<style scoped>
.no-border {
  border: none;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
span {
  font-size: 20px;
}
.icon {
  color: var(--cameri-text-1);
}
.table-header {
  display: flex;
  align-items: center;
  height: 50px;
}
</style>
