<template>
  <tr>
    <td>
      <div class="d-flex align-items-center">
        <base-icon active size="50"> table_chart </base-icon>
        <div class="ml-2">{{ datasetName }}</div>
      </div>
    </td>
    <td>
      <div v-if="annotationIsEmpty" class="d-flex align-items-center">
        <base-icon size="44" class="color-red">cancel</base-icon>
        <div class="ml-2">Missing Annoation</div>
      </div>
      <div v-if="annotationIsPartial" class="d-flex align-items-center">
        <base-icon size="44" class="color-yellow">flaky</base-icon>
        <div class="ml-2">Partial Annotation</div>
      </div>
      <div v-if="annotationIsCompleted" class="d-flex align-items-center">
        <base-icon size="44" class="color-green">check_circle</base-icon>
        <div class="ml-2">Complete Annoation</div>
      </div>
    </td>
    <td>
      <base-button
        v-if="selectMode"
        icon="navigate_next"
        @click="onClickSelectDataset"
      >
        Select Dataset
      </base-button>
      <base-button v-else icon="edit" link :to="'/data-annotation/' + this.id">
        Set Annotation
      </base-button>
    </td>
  </tr>
</template>

<script>
import { E_DA_STATUS } from '../../../logic/DataAnnotationStatus.js';
export default {
  emits: ['dataset-selected'],
  props: {
    id: {
      required: true,
    },
    datasetName: {
      required: true,
    },
    status: {
      required: true,
    },
    selectMode: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    annotationIsEmpty() {
      return this.status == E_DA_STATUS.EMPTY;
    },
    annotationIsPartial() {
      return this.status == E_DA_STATUS.PARTIAL;
    },
    annotationIsCompleted() {
      return this.status == E_DA_STATUS.COMPLETED;
    },
  },
  methods: {
    onClickShowData() {
      console.log('clicked show data at annotation ' + this.id);
    },
    onClickSelectDataset() {
      this.$emit('dataset-selected', this.id, this.datasetName, this.status);
    },
  },
};
</script>

<style scoped>
tr,
td {
  border-color: transparent;
  height: 80px;
}
</style>
