<template>
  <tr>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Name</span>
        <base-icon
          tooltipText="Sort by Query Name"
          tooltipPosition="bottom"
          tooltipWidth="140"
          class="icon"
          :flippedV="!(this.sorting['name'] && this.sorting['descending'])"
          clickable
          :active="this.sorting['name']"
          @click="setSorting('name')"
        >
          sort
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Status</span>
        <base-icon
          tooltipText="Sort by Query Status"
          tooltipPosition="bottom"
          tooltipWidth="140"
          class="icon"
          :flippedV="!(this.sorting['status'] && this.sorting['descending'])"
          clickable
          :active="this.sorting['status']"
          @click="setSorting('status')"
        >
          sort
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span>Actions</span>
      </div>
    </th>
  </tr>
</template>

<script>
export default {
  emits: ['change-sorting'],
  data() {
    return {
      sorting: {
        name: true,
        status: false,
        descending: false,
      },
    };
  },
  methods: {
    setSorting(id) {
      if (this.sorting[id]) {
        this.sorting['descending'] = !this.sorting['descending'];
      } else {
        for (const key in this.sorting) {
          this.sorting[key] = false;
        }
        this.sorting[id] = true;
        this.sorting['descending'] = false;
      }
      this.$emit('change-sorting', this.sorting);
    },
  },
};
</script>

<style scoped>
.no-border {
  border: none;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
span {
  font-size: 20px;
}
.icon {
  color: var(--cameri-text-1);
}
.table-header {
  display: flex;
  align-items: center;
  height: 50px;
}
</style>
