<template>
  <tr>
    <td>
      <div>{{ name }}</div>
      <div class="sub">queryID: {{ id }}</div>
    </td>
    <td>
      <div><img :src="status_img_src" height="30" /></div>
      <div class="sub">{{ status_text }}</div>
    </td>
    <td>
      <div class="d-flex">
        <base-icon
          v-if="isCreated"
          active
          clickable
          @click="onClickStart"
          iconsize="44"
          size="46"
          tooltipText="Execute Query"
          class="mr-2"
        >
          play_arrow
        </base-icon>
        <base-icon
          v-else-if="isRunning"
          active
          clickable
          @click="onClickCancel"
          iconsize="32"
          size="46"
          tooltipText="Stop Execution"
          class="mr-2"
        >
          not_interested
        </base-icon>
        <base-icon
          v-else
          active
          clickable
          @click="onClickStart"
          iconsize="38"
          size="46"
          tooltipText="Re-Execute Query"
          class="mr-2"
        >
          restart_alt
        </base-icon>
        <base-icon
          active
          clickable
          @click="onClickRefresh"
          iconsize="38"
          size="46"
          tooltipText="Refresh Status"
          class="mr-2"
        >
          refresh
        </base-icon>
        <base-icon
          :disabled="!isDone"
          active
          link
          :to="'/query/' + id + '/results'"
          iconsize="34"
          size="46"
          tooltipText="go to Results"
          class="mr-2"
        >
          insert_chart_outlined
        </base-icon>
        <base-icon
          active
          clickable
          link
          :to="'/query/' + id"
          iconsize="32"
          size="46"
          tooltipText="Edit Query"
          class="mr-2"
        >
          edit
        </base-icon>
      </div>
    </td>
  </tr>
</template>

<script>
import {
  getStatusText,
  getStatusImgSrc,
  E_QUERY_STATUS,
} from '../../../logic/QueryStatus.js';

export default {
  emits: ['start-query', 'cancel-query', 'refresh-query'],
  props: ['id', 'name', 'status'],
  computed: {
    status_img_src() {
      return getStatusImgSrc(this.status);
    },
    status_text() {
      return getStatusText(this.status);
    },
    isCreated() {
      return this.status == E_QUERY_STATUS.CREATED;
    },
    isRunning() {
      return (
        this.status == E_QUERY_STATUS.RUNNING_FE ||
        this.status == E_QUERY_STATUS.RUNNING_INF
      );
    },
    isDone() {
      return this.status == E_QUERY_STATUS.FINISHED;
    },
  },
  methods: {
    onClickStart() {
      this.$emit('start-query', this.id);
    },
    onClickCancel() {
      this.$emit('cancel-query', this.id);
    },
    onClickRefresh() {
      this.$emit('refresh-query', this.id);
    },
  },
};
</script>

<style scoped>
tr,
td {
  border-color: transparent;
  height: 80px;
}

.sub {
  color: var(--cameri-text-2);
  font-size: 12px;
}
</style>
