<template>
  <div class="wrapper-div">
    <dead-end
      title="Page not found"
      exitRoute="/"
      exitName="Main Page"
    ></dead-end>
  </div>
</template>

<script>
import DeadEnd from '../components/layout/DeadEnd.vue';

export default {
  components: {
    DeadEnd,
  },
};
</script>

<style scoped>
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
