<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <div class="overview-page">
      <page-description>
        Overview of the registered queries for the recommendation intelligence
      </page-description>
      <div class="table-div">
        <div v-if="isLoading">
          <base-spinner></base-spinner>
        </div>
        <div v-else>
          <div v-if="hasQueries">
            <table class="table table-hover header-fixed">
              <thead>
                <query-sorting @change-sorting="setSorting"></query-sorting>
              </thead>
              <tbody>
                <query-entry
                  v-for="query in sortedQueries"
                  :key="query.id"
                  :id="query.id"
                  :name="query.name"
                  :status="query.status"
                  @start-query="startQuery"
                  @cancel-query="cancelQuery"
                  @refresh-query="refreshQuery"
                ></query-entry>
              </tbody>
            </table>
          </div>
          <h3 class="text-center" v-else>No Queries yet</h3>
        </div>
      </div>
      <base-button icon="add" link to="/query/new" class="mt-4">
        new Query
      </base-button>
    </div>
  </div>
</template>

<script>
import PageDescription from '../../components/layout/PageDescription.vue';
import QuerySorting from '../../components/queries/overview/QuerySorting.vue';
import QueryEntry from '../../components/queries/overview/QueryEntry.vue';

export default {
  components: {
    PageDescription,
    QuerySorting,
    QueryEntry,
  },
  data() {
    return {
      isLoading: false,
      error: null,
      currentSorting: {
        name: true,
        status: false,
        descending: false,
      },
    };
  },
  computed: {
    sortedQueries() {
      const queries = this.$store.getters['queries/queries'];
      if (this.currentSorting['name']) {
        queries.sort((queryA, queryB) => {
          if (queryA.name == queryB.name) {
            return 0;
          }
          if (queryA.name < queryB.name) {
            return -1;
          }
          return 1;
        });
      }
      if (this.currentSorting['status']) {
        queries.sort((queryA, queryB) => queryA.status - queryB.status);
      }
      if (this.currentSorting['descending']) {
        queries.reverse();
      }
      return queries;
    },
    hasQueries() {
      return !this.isLoading && this.$store.getters['queries/hasQueries'];
    },
  },
  created() {
    this.loadQueries();
  },
  methods: {
    setSorting(updatedSorting) {
      this.currentSorting = updatedSorting;
    },
    async loadQueries(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('queries/loadQueries', {
          forceRefresh: refresh,
        });
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
    async startQuery(queryID) {
      try {
        await this.$store.dispatch('queries/executeQuery', {
          id: queryID,
        });
        await this.refreshQuery(queryID);
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
    },
    async cancelQuery(queryID) {
      try {
        await this.$store.dispatch('queries/cancelQueryExecution', {
          id: queryID,
        });
        await this.refreshQuery(queryID);
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
    },
    async refreshQuery(queryID) {
      try {
        await this.$store.dispatch('queries/updateQueryStatus', {
          id: queryID,
        });
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
    },
  },
};
</script>

<style scoped>
.table-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
