<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <base-dialog
      :show="this.deleteCheck.show"
      :title="this.deleteCheck.title"
      @close="declineDeletion"
    >
      <p>{{ this.deleteCheck.message }}</p>
      <template v-slot:actions>
        <div class="d-flex align-items-center justify-content-between w-100">
          <base-button icon="delete" @click="acceptDeletion">
            Accept
          </base-button>
          <base-button icon="close" @click="declineDeletion">
            Decline
          </base-button>
        </div>
      </template>
    </base-dialog>
    <dead-end
      v-if="dataNotFound"
      title="Query not found"
      exitRoute="/query"
      exitName="Query Overview Page"
    ></dead-end>
    <div v-else class="overview-page">
      <page-description v-if="isNew">
        Create a new query for the recommendation intelligence
      </page-description>
      <page-description v-else>
        Edit the existing query „{{ initialQueryName }}“
      </page-description>
      <div class="content-div">
        <div v-if="isLoading">
          <base-spinner></base-spinner>
        </div>
        <div v-else>
          <div class="main-grid">
            <div class="col-icons row-name">
              <base-icon size="50">my_location</base-icon>
            </div>
            <div class="col-icons row-data-selection">
              <base-icon size="50">table_chart</base-icon>
            </div>
            <div class="col-icons row-data-annotation">
              <base-icon size="50">category</base-icon>
            </div>
            <div class="col-icons row-knowledge-selection">
              <base-icon size="50">category</base-icon>
            </div>

            <div class="col-names row-name">
              <span>Name</span>
            </div>
            <div class="col-names row-data-selection">
              <span v-if="isNew"> Dataset Selection </span>
              <span v-else> Dataset </span>
            </div>
            <div class="col-names row-data-annotation">
              <span>Data Annotation</span>
            </div>
            <div class="col-names row-knowledge-selection">
              <span v-if="isNew"> Knowledge Selection </span>
              <span v-else> Knowledge </span>
            </div>

            <div class="col-inputs row-name">
              <input class="input" v-model="currentQueryData.name" />
            </div>
            <div class="col-inputs row-data-selection">
              <input class="input" :value="datasetName" disabled />
            </div>
            <div class="col-inputs row-data-annotation">
              <div v-if="!datasetID" class="d-flex align-items-center">
                <base-icon class="color-red"> warning </base-icon>
                <div class="ml-2">No dataset selected</div>
              </div>
              <div
                v-else-if="dataAnnotationIsCompleted"
                class="d-flex align-items-center"
              >
                <base-icon class="color-green"> check_circle </base-icon>
                <div class="ml-2">Data Annotation is already set</div>
              </div>
              <div v-else class="d-flex align-items-center">
                <base-icon class="color-red"> cancel </base-icon>
                <div class="ml-2">Data Annotation is not completed</div>
              </div>
            </div>
            <div class="col-inputs row-knowledge-selection">
              <input class="input" :value="selectedKnowledgeText" disabled />
            </div>

            <div class="col-buttons row-data-selection">
              <base-button
                icon="search"
                :disabled="!isNew"
                stretch
                @click="clickedSelectData"
              >
                Select
              </base-button>
              <dataset-selection
                :show="!!showDatasetSelection"
                @dataset-selected="selectedDataset"
                @close="closeDatasetSelection"
              ></dataset-selection>
            </div>
            <div class="col-buttons row-data-annotation">
              <base-button
                icon="play_arrow"
                :disabled="!datasetID"
                stretch
                link
                :to="'/data-annotation/' + datasetID"
              >
                Annotation Editor
              </base-button>
            </div>
            <div class="col-buttons row-knowledge-selection">
              <base-button
                :icon="selectKnowledgeButtonIcon"
                stretch
                @click="clickedSelectKnowledge"
              >
                {{ selectKnowledgeButtonTitle }}
              </base-button>
              <knowledge-selection
                :show="!!showKnowledgeSelection"
                :selection="currentSelectedKnowledge"
                :readonly="!isNew"
                @knowledge-selected="selectedKnowledge"
                @close="closeKnowledgeSelection"
              ></knowledge-selection>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 w-100 d-flex justify-content-between">
        <base-button v-if="isNew" icon="close" link to="/query">
          Discard
        </base-button>
        <base-button v-else icon="delete" @click="clickedDelete">
          Delete Query
        </base-button>
        <div class="d-flex">
          <base-button icon="save" @click="clickedSave(false)">
            Save
          </base-button>
          <base-button
            v-if="isNew"
            icon="play_arrow"
            class="ml-4"
            @click="clickedSave(true)"
          >
            Save &amp; Run
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageDescription from '../../components/layout/PageDescription.vue';
import DeadEnd from '../../components/layout/DeadEnd.vue';
import { E_DA_STATUS } from '../../logic/DataAnnotationStatus.js';
import DatasetSelection from '../../components/queries/editor/DatasetSelection.vue';
import KnowledgeSelection from '../../components/queries/editor/KnowledgeSelection.vue';

export default {
  props: ['id'],
  components: {
    PageDescription,
    DeadEnd,
    DatasetSelection,
    KnowledgeSelection,
  },
  data() {
    return {
      isLoading: false,
      error: null,
      deleteCheck: {
        show: false,
        title: 'Confirm Deletion',
        message: 'Please confirm the deletion of this query',
      },
      isNew: false,
      currentQueryData: null,
      initialQueryName: '',
      showDatasetSelection: false,
      showKnowledgeSelection: false,
    };
  },
  computed: {
    dataNotFound() {
      return !!(this.currentQueryData == null);
    },
    queryName() {
      return this.currentQueryData.name;
    },
    datasetName() {
      return this.currentQueryData.datasetName;
    },
    datasetID() {
      return this.currentQueryData.datasetID;
    },
    selectedKnowledgeText() {
      return (
        this.currentQueryData.selectedKnowledge.length + ' Knowledge Entries'
      );
    },
    currentSelectedKnowledge() {
      return this.currentQueryData.selectedKnowledge;
    },
    dataAnnotationIsCompleted() {
      return (
        this.currentQueryData.dataAnnotationStatus == E_DA_STATUS.COMPLETED
      );
    },
    selectKnowledgeButtonTitle() {
      if (this.isNew) {
        return 'Select';
      } else {
        return 'Inspect';
      }
    },
    selectKnowledgeButtonIcon() {
      if (this.isNew) {
        return 'search';
      } else {
        return 'visibility';
      }
    },
  },
  created() {
    if (this.id == 'new') {
      this.isNew = true;
      this.currentQueryData = {
        name: 'new query',
        datasetID: null,
        datasetName: null,
        dataAnnotationStatus: null,
        selectedKnowledge: [],
      };
      return;
    }
    this.isNew = false;
    this.loadQuery();
  },
  methods: {
    async loadQuery(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('queries/loadQuery', {
          id: this.id,
          forceRefresh: refresh,
        });
        this.currentQueryData = this.$store.getters['queries/query'];
        if (this.currentQueryData == null) {
          throw new Error(`There is no query with id '${this.id}'!`);
        }
        // clear alias
        this.currentQueryData = JSON.parse(
          JSON.stringify(this.currentQueryData)
        );
        this.initialQueryName = this.currentQueryData.name;
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
    acceptDeletion() {
      this.deleteCheck.show = false;
      this.executeDelete();
    },
    declineDeletion() {
      this.deleteCheck.show = false;
    },
    async clickedSave(runInstantly) {
      if (this.isNew) {
        if (
          !this.currentQueryData ||
          this.currentQueryData.datasetID == null ||
          this.currentQueryData.datasetName == null ||
          this.currentQueryData.dataAnnotationStatus == null ||
          this.currentQueryData.selectedKnowledge.length == 0
        ) {
          this.error = 'Data is missing. Please fill out all fields!';
          return;
        }
        if (runInstantly) {
          // save and run
          try {
            await this.$store.dispatch('queries/createQuery', {
              data: this.currentQueryData,
              runInstantly: runInstantly,
            });
            this.$router.push('/query');
          } catch (error) {
            this.error = error.message || 'Something went wrong!';
          }
        } else {
          // only save
          try {
            await this.$store.dispatch('queries/createQuery', {
              data: this.currentQueryData,
              runInstantly: runInstantly,
            });
            this.$router.push('/query');
          } catch (error) {
            this.error = error.message || 'Something went wrong!';
          }
        }
      } else {
        // update
        try {
          await this.$store.dispatch('queries/editQuery', {
            ...this.currentQueryData,
            id: this.id,
          });
          this.$router.push('/query');
        } catch (error) {
          this.error = error.message || 'Something went wrong!';
        }
      }
    },
    async clickedDelete() {
      this.deleteCheck.show = true;
    },
    async executeDelete() {
      try {
        await this.$store.dispatch('queries/deleteQuery', {
          id: this.id,
        });
        this.$router.push('/query');
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
    },
    clickedSelectData() {
      if (!this.isNew) {
        return;
      }
      this.showDatasetSelection = true;
    },
    closeDatasetSelection() {
      this.showDatasetSelection = false;
    },
    selectedDataset(datasetID, datasetName, dataAnnotationStatus) {
      this.currentQueryData.datasetID = datasetID;
      this.currentQueryData.datasetName = datasetName;
      this.currentQueryData.dataAnnotationStatus = dataAnnotationStatus;
    },
    clickedSelectKnowledge() {
      this.showKnowledgeSelection = true;
    },
    closeKnowledgeSelection() {
      this.showKnowledgeSelection = false;
    },
    selectedKnowledge(selection) {
      this.currentQueryData.selectedKnowledge = selection;
    },
  },
};
</script>

<style scoped>
.main-grid {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  grid-template-rows: min-content;
  align-items: center;
  justify-items: stretch;
}
.col-icons {
  margin-right: 8px;
  grid-column: 1 / 2;
}
.col-names {
  margin-right: 16px;
  grid-column: 2 / 3;
}
.col-inputs {
  grid-column: 3 / 4;
}
.col-buttons {
  margin-left: 16px;
  grid-column: 4 / 5;
}
.row-name {
  grid-row: 1 / 2;
  margin-bottom: 60px;
}
.row-data-selection {
  grid-row: 2 / 3;
  margin-bottom: 20px;
}
.row-data-annotation {
  grid-row: 3 / 4;
  margin-bottom: 60px;
}
.row-knowledge-selection {
  grid-row: 4 / 5;
}
.col-inputs.row-name {
  grid-column: 3 / 5;
}
.input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 8px;
  color: var(--cameri-primary);
  border-color: var(--cameri-primary);
  background-color: white;
  font: inherit;
}
.content-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
