<template>
  <div class="wrapper-div">
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <div v-if="isLoading" class="mt-5">
      <base-spinner></base-spinner>
    </div>
    <div v-else class="h-100">
      <dead-end
        v-if="dataNotFound"
        title="Query not found"
        exitRoute="/query"
        exitName="Query Overview Page"
      ></dead-end>
      <div v-else class="overview-page h-100">
        <page-description>
          Result monitor for Query „{{ queryName }}“
        </page-description>
        <div class="content-div">
          <result-group
            v-for="[index, resultGroup] of resultGroups"
            :key="index"
            :id="index"
            :resultGroup="resultGroup"
          ></result-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageDescription from '../../components/layout/PageDescription.vue';
import DeadEnd from '../../components/layout/DeadEnd.vue';
import ResultGroup from '../../components/queries/results/ResultGroup.vue';

export default {
  props: ['id'],
  components: {
    PageDescription,
    DeadEnd,
    ResultGroup,
  },
  data() {
    return {
      isLoading: true,
      error: null,
      queryResults: null,
    };
  },
  computed: {
    dataNotFound() {
      return !!(this.queryResults == null);
    },
    queryName() {
      return this.queryResults.queryName;
    },
    resultGroups() {
      return this.queryResults.resultGroups.entries();
    },
  },
  created() {
    this.loadResults();
  },
  methods: {
    async loadResults(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('queries/loadResults', {
          id: this.id,
          forceRefresh: refresh,
        });
        this.queryResults = this.$store.getters['queries/queryResults'];
        if (this.queryResults == null) {
          throw new Error(`There is no query with id '${this.id}'!`);
        }
        // clear alias
        this.queryResults = JSON.parse(JSON.stringify(this.queryResults));
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.content-div {
  width: 100%;
  flex-grow: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.overview-page {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
