<template>
  <div class="base-button" :class="{ streched: stretch }">
    <button v-if="!link" :class="{ streched: stretch, disabled: disabled }">
      <span class="ml-3" :class="{ 'mr-3': !hasIcon, streched: stretch }">
        <slot></slot>
      </span>
      <base-icon v-if="hasIcon" class="mr-1 ml-2" size="40">{{
        icon
      }}</base-icon>
    </button>
    <router-link
      v-else
      :to="to"
      :class="{ streched: stretch, disabled: disabled }"
    >
      <span class="ml-3" :class="{ 'mr-3': !hasIcon }">
        <slot></slot>
      </span>
      <base-icon v-if="hasIcon" class="mr-1 ml-2" size="40">{{
        icon
      }}</base-icon>
    </router-link>
  </div>
</template>

<script>
import BaseIcon from './BaseIcon.vue';
export default {
  components: { BaseIcon },
  props: {
    icon: {
      type: String,
      required: false,
      default: null,
    },
    link: {
      type: Boolean,
      required: false,
      default: false,
    },
    to: {
      type: String,
      required: false,
      default: '/',
    },
    stretch: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    hasIcon() {
      return !(this.icon == null);
    },
  },
};
</script>

<style scoped>
div.base-button {
  height: 40px;
  margin: 0;
  display: inline-block;
}

.streched {
  width: 100%;
}

.disabled {
  background-color: var(--cameri-bg-1);
  pointer-events: none;
}

button,
a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: var(--cameri-primary);
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  border: none;
  padding: 0;
}

a:hover,
a:active,
button:hover,
button:active {
  background-color: var(--cameri-primary-darker);
}
</style>
