<template>
  <div class="tooltip-master" :class="masterClass">
    <slot></slot>
    <div v-if="hasTooltip" class="tooltip-child" :style="customWidth">
      <span class="tooltip-style">{{ tooltip }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tooltip: {
      type: String,
      required: false,
      default: null,
    },
    width: {
      type: String,
      required: false,
      default: null,
    },
    position: {
      type: String,
      required: false,
      default: 'top',
    },
  },
  computed: {
    hasTooltip() {
      return !(this.tooltip == null);
    },
    customWidth() {
      if (this.width == null) {
        return '';
      }
      return `width: ${this.width}px`;
    },
    masterClass() {
      var cls = `pos-${this.position}`;
      if (!(this.tooltip == null)) {
        cls += ' tooltip-cursor';
      }
      return cls;
    },
  },
};
</script>

<style scoped>
.tooltip-master {
  position: relative;
  display: inline-block;
}

.tooltip-cursor {
  cursor: help;
}

.tooltip-child {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

.pos-top .tooltip-child {
  bottom: calc(100% + 5px);
}

.pos-bottom .tooltip-child {
  top: calc(100% + 5px);
}

.tooltip-style {
  background-color: var(--cameri-bg-1);
  color: white;
  font-weight: normal;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: normal;
}

.tooltip-style::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.pos-top .tooltip-style::after {
  top: 100%;
  border-color: var(--cameri-bg-1) transparent transparent transparent;
}

.pos-bottom .tooltip-style::after {
  bottom: 100%;
  border-color: transparent transparent var(--cameri-bg-1) transparent;
}

.tooltip-master:hover .tooltip-child {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
</style>
