<template>
  <base-tooltip
    :tooltip="tooltipText"
    :width="tooltipWidth"
    :position="tooltipPosition"
  >
    <div
      :style="div_style"
      :class="{
        hoverable: isClickable,
        flipV: this.flippedV,
        flipH: this.flippedH,
      }"
    >
      <span
        class="material-icons"
        :class="{
          active: active && !disabled,
          disabled: disabled,
          clickable: isClickable,
        }"
        :style="icon_style"
      >
        <router-link v-if="link && !disabled" :to="to">
          <slot></slot>
        </router-link>
        <slot v-else></slot>
      </span>
    </div>
  </base-tooltip>
</template>

<script>
import BaseTooltip from './BaseTooltip.vue';

export default {
  components: { BaseTooltip },
  props: {
    size: {
      type: String,
      required: false,
      default: '40',
    },
    iconsize: {
      type: String,
      required: false,
      default: null,
    },
    active: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    clickable: {
      type: Boolean,
      required: false,
      default: false,
    },
    link: {
      type: Boolean,
      required: false,
      default: false,
    },
    to: {
      type: String,
      required: false,
      default: '/',
    },
    flippedV: {
      type: Boolean,
      required: false,
      default: false,
    },
    flippedH: {
      type: Boolean,
      required: false,
      default: false,
    },
    tooltipText: {
      type: String,
      required: false,
      default: null,
    },
    tooltipWidth: {
      type: String,
      required: false,
      default: null,
    },
    tooltipPosition: {
      type: String,
      required: false,
      default: 'top',
    },
  },
  computed: {
    icon_style() {
      const size = Number(this.size);
      var iconsize = size - 10;
      if (this.iconsize != null) {
        iconsize = Number(this.iconsize);
      }
      return `font-size: ${iconsize}px; user-select: none;`;
    },
    div_style() {
      const size = Number(this.size);
      return `width: ${size}px; height: ${size}px;`;
    },
    hasClickListener() {
      return !!(this.$attrs && this.$attrs.onIconClick);
    },
    isClickable() {
      return (this.clickable || this.link) && !this.disabled;
    },
    hasTooltip() {
      return !!(this.tooltipText == null);
    },
  },
};
</script>

<style scoped>
div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

div.hoverable:hover {
  color: var(--cameri-primary-darker);
  background-color: var(--cameri-bg-2);
}

.active {
  color: var(--cameri-primary);
}

.disabled {
  color: var(--cameri-text-1);
}

.clickable {
  cursor: pointer;
}

.flipV {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.flipH {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
</style>
