<template>
  <div class="dropdown-element">
      <teleport to="#app">
        <div
          v-if="dropdownIsVisible"
          @click="hideDropdown"
          class="dropdown-background"
        ></div>
      </teleport>
      <div class="dropdown-visible" :class="{'dropdown-box-shaddow': this.dropdownIsVisible }" @click="showDropdown">
          <span class="ml-2">{{ currentSelection }}</span>
          <base-icon size="40" iconsize="36" class="icon-color">
            arrow_drop_down
          </base-icon>
      </div>
      <div class="dropdown-content-outer" :class="{ 'dropdown-content-outer-fix': this.doFix }">
          <div class="dropdown-content-inner" :class="{ 'dropdown-content-show': this.dropdownIsVisible, 'dropdown-box-shaddow': this.dropdownIsVisible}">
            <span
              v-for="value in values"
              class="dropdown-item"
              :key="value.id"
              @click="selectValue(value.id)"
            >
              {{ value.display }}
            </span>
          </div>
      </div>
  </div>
</template>

<script>
import BaseIcon from './BaseIcon.vue';
export default {
  components: { BaseIcon },
  emits: ['value-changed'],
  props: {
    values: {
      type: Array,
      required: true,
    },
    initialValue: {
      type: String,
      required: false,
      default: '',
    },
    fix: {
      type: Number,
      required: false,
      default: 0
    },
  },
  computed: {
    doFix(){
      return this.fix != 0
    }
  },
  data() {
    return {
      dropdownIsVisible: false,
      currentSelection: '',
    };
  },
  created() {
    this.currentSelection = this.initialValue;
  },
  methods: {
    showDropdown() {
      this.dropdownIsVisible = true;
    },
    hideDropdown() {
      this.dropdownIsVisible = false;
    },
    selectValue(valueID) {
      this.hideDropdown();
      this.currentSelection = this.values.find(
        (value) => value.id == valueID
      ).display;
      this.$emit('value-changed', valueID);
    },
  },
};
</script>

<style scoped>
.dropdown-element{
    width: 200px;
}

.dropdown-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  z-index: 90;
}

.dropdown-visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 2px solid var(--cameri-primary);
}

.dropdown-content-show{
  display: flex !important;
}

.dropdown-content-outer-fix{
    position: absolute !important;
}

.dropdown-content-outer{
    position: relative;
    display: flex;
    width: inherit;
    flex-direction: column;
    align-items: stretch;
    z-index: 200;
}

.dropdown-content-inner{
    position: absolute;
    display: none;
    width: inherit;
    flex-direction: column;
    align-items: stretch;
    z-index: 200;
}

.dropdown-item {
  display: flex;
  align-items: center;
  border: 2px solid var(--cameri-bg-1);
  border-top: none;
  height: 40px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  color: var(--cameri-text-1);
  cursor: pointer;
  font-weight: bold;
}
.dropdown-item:hover {
  color: var(--cameri-primary);
  background-color: var(--cameri-bg-2);
}

.dropdown-box-shaddow {
  box-shadow: 4px 4px 10px -4px #0005, -4px 4px 10px -4px #0005;
}

.icon-color {
  color: var(--cameri-primary);
}
</style>
