<template>
  <div class="result-precondition mb-3">
    <div class="result-precondition-header d-flex align-items-center">
      <base-icon v-if="isFulfilled" size="34" class="color-green">
        check_circle
      </base-icon>
      <base-icon v-else size="34" class="color-red"> cancel </base-icon>
      <span class="mx-2"> {{ preconditionName }} </span>
      <base-icon
        size="34"
        :tooltipText="preconditionDescription"
        tooltipPosition="bottom"
      >
        info
      </base-icon>
    </div>
    <div v-if="!isFulfilled" class="result-precondition-body">
      <div v-if="displayHarmingColumns" class="d-flex align-items-center">
        <base-icon size="34"> bolt </base-icon>
        <span style="white-space: break-spaces"> Precondition harmed by columns {{ harmingColumns }} </span>
      </div>
      <div class="d-flex align-items-center">
        <div v-if="isFixable" class="d-flex align-items-center">
          <base-icon size="34" class="color-green"> star </base-icon>
          <span> Fixable with Preprocessing „{{ preprocessingName }}“ </span>
          <base-icon
            size="34"
            :tooltipText="preprocessingDescription"
            tooltipPosition="bottom"
          >
            info
          </base-icon>
        </div>
        <div v-else class="d-flex align-items-center">
          <base-icon size="34" class="color-red"> warning </base-icon>
          <span class="color-red">
            There is no Preprocessing that can fix this!
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['id', 'resultPrecondition'],
  computed: {
    preconditionName() {
      return this.resultPrecondition.preconditionName;
    },
    preconditionDescription() {
      return this.resultPrecondition.preconditionDescription;
    },
    preprocessingName() {
      return this.resultPrecondition.preprocessingName;
    },
    preprocessingDescription() {
      return this.resultPrecondition.preprocessingDescription;
    },
    displayHarmingColumns() {
      return !(this.resultPrecondition.harmedByColumns[0] == "<general>");
    },
    harmingColumns() {
      return '„' + this.resultPrecondition.harmedByColumns.join('“, „') + '“';
    },
    isFulfilled() {
      return this.resultPrecondition.harmedByColumns.length == 0;
    },
    isFixable() {
      return !!this.resultPrecondition.preprocessingName;
    },
  },
};
</script>

<style scoped>
.result-precondition {
  color: var(--cameri-text-1);
}
.result-precondition-header {
  font-size: 16px;
}
.result-precondition-body {
  padding-left: 34px;
  font-size: 16px;
}
</style>
