<template>
  <div>
    <div class="result-entry-header d-flex align-items-center">
      <a
        data-toggle="collapse"
        :data-target="'#collapse-result-entry' + id"
        aria-expanded="false"
        :aria-controls="'collapse-result-entry' + id"
        class="collapse-btn collapsed"
        :class="{ invisible: !hasPreconditions }"
      >
        <base-icon class="collapse-icon">keyboard_arrow_down</base-icon>
      </a>
      <span class="mr-2">{{ methodName }}</span>
      <base-icon :tooltipText="methodDescription" tooltipPosition="bottom">
        info
      </base-icon>
    </div>
    <div
      class="result-entry-body collapse py-2"
      :id="'collapse-result-entry' + id"
    >
      <result-precondition
        v-for="[index, resultPrecondition] of preconditions"
        :key="id + '-' + index"
        :id="id + '-' + index"
        :resultPrecondition="resultPrecondition"
      >
      </result-precondition>
    </div>
  </div>
</template>

<script>
import ResultPrecondition from './ResultPrecondition.vue';

export default {
  components: {
    ResultPrecondition,
  },
  props: ['id', 'resultEntry'],
  computed: {
    methodName() {
      return this.resultEntry.methodName;
    },
    methodDescription() {
      return this.resultEntry.methodDescription;
    },
    preconditions() {
      return this.resultEntry.preconditions.entries();
    },
    amountPreconditions() {
      return this.resultEntry.preconditions.length;
    },
    hasPreconditions() {
      return this.resultEntry.preconditions.length > 0;
    },
  },
};
</script>

<style scoped>
.collapse-btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--cameri-primary);
}
.collapse-btn:hover {
  color: var(--cameri-primary-darker);
}
.collapse-icon {  
  transition: transform 300ms ease-in-out;
}
.collapsed > .collapse-icon {
  transform: rotate(-90deg);
}
.invisible {
  visibility: hidden;
  cursor: default;
}
.result-entry-header {
  font-size: 18px;
}
.result-entry-body {
  padding-left: 40px;
  font-size: 16px;
}
</style>
