<template>
  <div class="result-group">
    <div class="result-group-header d-flex align-items-center">
      <a
        data-toggle="collapse"
        :data-target="'#collapse-result-group' + id"
        aria-expanded="false"
        :aria-controls="'collapse-result-group' + id"
        class="collapse-btn collapsed"
        :class="{ invisible: !hasEntries }"
      >
        <base-icon class="collapse-icon">keyboard_arrow_down</base-icon>
      </a>
      <span>{{ name }} ({{ amountEntries }})</span>
    </div>
    <div class="result-group-body collapse" :id="'collapse-result-group' + id">
      <result-entry
        v-for="[index, resultEntry] in entries"
        :key="id + '-' + index"
        :id="id + '-' + index"
        :resultEntry="resultEntry"
      >
      </result-entry>
    </div>
  </div>
</template>

<script>
import ResultEntry from './ResultEntry.vue';

export default {
  components: {
    ResultEntry,
  },
  props: ['id', 'resultGroup'],
  computed: {
    name() {
      return this.resultGroup.name;
    },
    entries() {
      return this.resultGroup.entries.entries();
    },
    amountEntries() {
      return this.resultGroup.entries.length;
    },
    hasEntries() {
      return this.resultGroup.entries.length > 0;
    },
  },
};
</script>

<style scoped>
.collapse-btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--cameri-primary);
}
.collapse-btn:hover {
  color: var(--cameri-primary-darker);
}
.collapse-icon {
  transition: transform 300ms ease-in-out;
}
.collapsed > .collapse-icon {
  transform: rotate(-90deg);
}
.invisible {
  visibility: hidden;
  cursor: default;
}
.result-group {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  background-color: var(--cameri-bg-2);
  color: var(--cameri-primary);
  font-weight: bold;
}
.result-group-header {
  font-size: 20px;
}
.result-group-body {
  padding-left: 40px;
  font-size: 18px;
}
</style>
