<template>
  <base-dialog :show="show" :title="title" @close="close">
    <div v-if="!!error">
      <p>{{ error }}</p>
    </div>
    <div v-else class="content-div">
      <div v-if="isLoading">
        <base-spinner></base-spinner>
      </div>
      <div v-else>
        <div class="table-wrapper">
          <table class="table table-hover header-fixed">
            <thead>
              <tr>
                <th style="color: var(--cameri-text-1)">#</th>
                <th v-for="column in columns" :key="column" scope="col">
                  <span class="mx-2">{{ column }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in content" :key="row.index">
                <th style="color: var(--cameri-text-1)">{{ row.index }}</th>
                <td v-for="cell in row.data" :key="cell">
                  <span class="mx-2">{{ cell }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <template v-slot:leftActions>
      <div class="d-flex align-items-center">
        <span class="mr-2">Amount Rows:</span>
        <base-dropdown
          :values="rowAmountValues"
          initialValue="10"
          fix=1
          @value-changed="rowAmountChanged"
        ></base-dropdown>
      </div>
    </template>
  </base-dialog>
</template>

<script>
export default {
  emits: ['close'],
  props: ['show', 'id'],
  data() {
    return {
      isLoading: false,
      error: null,
      datasetPeek: null,
      amountRows: 10,
    };
  },
  computed: {
    title() {
      if (!this.show) {
        return '';
      }
      if (this.isLoading) {
        return 'Loading data...';
      }
      return this.datasetPeek.datasetName;
    },
    columns() {
      return this.datasetPeek.columns;
    },
    content() {
      const result = [];
      for (const [index, element] of this.datasetPeek.data.entries()) {
        result.push({ index: index + 1, data: element });
      }
      return result;
    },
    rowAmountValues() {
      return [
        { id: 10, display: '10' },
        { id: 50, display: '50' },
        { id: 100, display: '100' },
      ];
    },
  },
  watch: {
    show: function (newVal, _) {
      if (newVal) {
        this.loadData();
      } else {
        this.isLoading = false;
        this.error = null;
        this.datasetPeek = null;
        this.amountRows = 10;
      }
    },
  },
  methods: {
    async loadData() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('dataAnnotations/loadDatasetPeek', {
          id: this.id,
          rows: this.amountRows,
        });
        this.datasetPeek = this.$store.getters['dataAnnotations/datasetPeek'];
        if (this.datasetPeek == null) {
          throw new Error(`There is no dataset with id '${this.id}'!`);
        }
        // clear alias
        this.datasetPeek = JSON.parse(JSON.stringify(this.datasetPeek));
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    close() {
      this.$emit('close');
    },
    rowAmountChanged(newValue) {
      this.amountRows = newValue;
      this.loadData();
    },
  },
};
</script>

<style scoped>
tr,
td {
  border-color: transparent;
}

.table {
  margin: 0 !important;
  overflow-x: auto;
}

.content-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.table-wrapper {
  max-width: 70vw;
  height: 500px;
  overflow: auto;
}
</style>
