<template>
  <tr>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Column</span>
        <base-icon
          tooltipText="Sort by Column Name"
          tooltipPosition="bottom"
          tooltipWidth="150"
          :flippedV="!this.descendingSorting"
          clickable
          active
          @click="swapSortDirection"
        >
          sort
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Scale Type</span>
        <base-icon
          tooltipText="Set the Scale Type of a Column"
          tooltipPosition="bottom"
          tooltipWidth="200"
          active
        >
          info
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Target Column</span>
        <base-icon
          tooltipText="Select the Target Column (if any)"
          tooltipPosition="bottom"
          tooltipWidth="200"
          active
        >
          info
        </base-icon>
      </div>
    </th>
    <th scope="col" class="no-border sticky-header">
      <div class="table-header">
        <span class="mr-1">Ignore Column</span>
        <base-icon
          tooltipText="Exclude a Column from evaluation"
          tooltipPosition="bottom"
          tooltipWidth="200"
          active
        >
          info
        </base-icon>
      </div>
    </th>
  </tr>
</template>

<script>
export default {
  emits: ['change-sorting'],
  data() {
    return {
      descendingSorting: true,
    };
  },
  methods: {
    swapSortDirection() {
      this.descendingSorting = !this.descendingSorting;
      this.$emit('change-sorting', this.descendingSorting);
    },
  },
};
</script>

<style scoped>
.no-border {
  border: none;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
span {
  font-size: 20px;
}
.table-header {
  display: flex;
  align-items: center;
  height: 50px;
}
</style>
