<template>
  <tr>
    <td>
      <div class="d-flex align-items-center">
        <base-icon active flippedH size="50"> vertical_split </base-icon>
        <div class="ml-2">{{ columnName }}</div>
      </div>
    </td>
    <td>
      <div class="mr-4">
        <base-dropdown
          :values="scaleTypeValues"
          :initialValue="scaleTypeText"
          @value-changed="scaleTypeChanged"
        >
        </base-dropdown>
      </div>
    </td>
    <td>
      <div v-if="this.isTarget" class="d-flex align-items-center">
        <base-icon active clickable size="40" @click="clickTarget">
          radio_button_checked
        </base-icon>
        <div class="ml-2">Yes</div>
      </div>
      <div v-else class="d-flex align-items-center">
        <base-icon active clickable size="40" @click="clickTarget">
          radio_button_unchecked
        </base-icon>
        <div class="ml-2">No</div>
      </div>
    </td>
    <td>
      <div v-if="this.isIgnore" class="d-flex align-items-center">
        <base-icon active clickable size="40" @click="clickIgnore">
          check_box
        </base-icon>
        <div class="ml-2">Yes</div>
      </div>
      <div v-else class="d-flex align-items-center">
        <base-icon active clickable size="40" @click="clickIgnore">
          check_box_outline_blank
        </base-icon>
        <div class="ml-2">No</div>
      </div>
    </td>
  </tr>
</template>

<script>
import {
  getScaleTypeText,
  E_SCALE_TYPE,
} from '../../../logic/DataAnnotationScaleType.js';
export default {
  emits: ['change-target', 'change-ignore', 'scale-type-changed'],
  props: ['id', 'columnName', 'scaleType', 'isTarget', 'isIgnore'],
  computed: {
    scaleTypeText() {
      return getScaleTypeText(this.scaleType);
    },
    scaleTypeValues() {
      var results = [];
      for (const key in E_SCALE_TYPE) {
        results.push({
          id: E_SCALE_TYPE[key],
          display: getScaleTypeText(E_SCALE_TYPE[key]),
        });
      }
      return results;
    },
  },
  methods: {
    clickTarget() {
      this.$emit('change-target', this.id);
    },
    clickIgnore() {
      this.$emit('change-ignore', this.id);
    },
    scaleTypeChanged(newValue) {
      this.$emit('scale-type-changed', this.id, newValue);
    },
  },
};
</script>

<style scoped>
tr,
td {
  border-color: transparent;
  height: 80px;
}
</style>
