<template>
  <div class="knowledge-group">
    <div class="knowledge-group-header d-flex align-items-center">
      <a
        data-toggle="collapse"
        :data-target="'#collapse-knowledge-group' + this.id"
        aria-expanded="false"
        :aria-controls="'collapse-knowledge-group' + this.id"
        class="collapse-btn collapsed"
        :class="{ invisible: !hasEntries }"
      >
        <base-icon class="collapse-icon">keyboard_arrow_down</base-icon>
      </a>

      <div v-if="isSelectionMode" class="d-flex align-items-center">
        <base-icon
          v-if="isCompleteSelected"
          active
          clickable
          size="34"
          @click="clickSelect"
        >
          check_box
        </base-icon>
        <base-icon
          v-else-if="isPartialSelected"
          active
          clickable
          size="34"
          @click="clickSelect"
        >
          indeterminate_check_box
        </base-icon>
        <base-icon v-else active clickable size="34" @click="clickSelect">
          check_box_outline_blank
        </base-icon>
        <span class="ml-1">
          {{ name }} ({{ amountSelected }} / {{ amountEntries }})
        </span>
      </div>

      <span v-else-if="isSelectedMode">
        {{ name }} ({{ amountSelected }} / {{ amountEntries }})
      </span>

      <span v-else>{{ name }} ({{ amountEntries }})</span>
    </div>
    <div
      class="knowledge-group-body collapse"
      :id="'collapse-knowledge-group' + this.id"
    >
      <knowledge-entry
        v-for="knowledgeEntry of this.knowledgeGroup.entries"
        :key="knowledgeEntry.id"
        :mode="mode"
        :knowledgeEntry="knowledgeEntry"
        @change-selection="changeSelection"
      >
      </knowledge-entry>
    </div>
  </div>
</template>

<script>
import KnowledgeEntry from './KnowledgeEntry.vue';

export default {
  components: {
    KnowledgeEntry,
  },
  props: ['id', 'mode', 'knowledgeGroup'],
  computed: {
    name() {
      return this.knowledgeGroup.name;
    },
    entries() {
      return this.knowledgeGroup.entries.entries();
    },
    amountEntries() {
      return this.knowledgeGroup.entries.length;
    },
    amountSelected() {
      return this.knowledgeGroup.entries.filter((entry) => {
        return entry.isSelected;
      }).length;
    },
    hasEntries() {
      return this.knowledgeGroup.entries.length > 0;
    },
    isSelectionMode() {
      return this.mode === 'selection';
    },
    isSelectedMode() {
      return this.mode === 'selected';
    },
    isCompleteSelected() {
      return this.amountEntries === this.amountSelected;
    },
    isPartialSelected() {
      return (
        this.amountSelected > 0 && this.amountSelected < this.amountEntries
      );
    },
  },
  methods: {
    changeSelection(knowledgeID) {
      this.knowledgeGroup.entries.forEach((entry) => {
        if (entry.id === knowledgeID) {
          entry.isSelected = !entry.isSelected;
        }
      });
    },
    clickSelect() {
      if (this.isCompleteSelected) {
        this.knowledgeGroup.entries.forEach((entry) => {
          entry.isSelected = false;
        });
      } else {
        this.knowledgeGroup.entries.forEach((entry) => {
          entry.isSelected = true;
        });
      }
    },
  },
};
</script>

<style scoped>
.collapse-btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--cameri-primary);
}
.collapse-btn:hover {
  color: var(--cameri-primary-darker);
}
.collapse-icon {
  transition: transform 300ms ease-in-out;
}
.collapsed > .collapse-icon {
  transform: rotate(-90deg);
}
.invisible {
  visibility: hidden;
  cursor: default;
}
.knowledge-group {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  background-color: var(--cameri-bg-2);
  color: var(--cameri-primary);
  font-weight: bold;
}
.knowledge-group-header {
  font-size: 20px;
}
.knowledge-group-body {
  padding-left: 40px;
  font-size: 18px;
}
</style>
