<template>
  <div class="knowledge-entry py-1">
    <div class="d-flex align-items-center">
      <div>
        <div v-if="isSelectionMode" class="ml-4">
          <base-icon
            v-if="isSelected"
            active
            clickable
            size="34"
            @click="clickSelect"
          >
            check_box
          </base-icon>
          <base-icon v-else active clickable size="34" @click="clickSelect">
            check_box_outline_blank
          </base-icon>
        </div>
        <div v-else-if="isSelectedMode">
          <base-icon v-if="isSelected" size="34" class="color-green">
            check
          </base-icon>
          <base-icon v-else size="34" class="color-red"> clear </base-icon>
        </div>
        <base-icon v-else size="34"> menu_book </base-icon>
      </div>
      <span class="mx-2"> {{ name }}</span>
      <base-icon
        v-if="!isSelectionMode && !isSelectedMode"
        active
        clickable
        link
        :to="'/knowledge/' + knowledgeID"
        iconsize="26"
        size="30"
        tooltipText="Edit Knowledge"
        class="knowledge-options ml-3"
      >
        edit
      </base-icon>
    </div>
  </div>
</template>

<script>
export default {
  emits: ['change-selection'],
  props: ['mode', 'knowledgeEntry'],
  computed: {
    name() {
      return this.knowledgeEntry.name;
    },
    knowledgeID() {
      return this.knowledgeEntry.id;
    },
    isSelected() {
      return this.knowledgeEntry.isSelected;
    },
    isSelectionMode() {
      return this.mode === 'selection';
    },
    isSelectedMode() {
      return this.mode === 'selected';
    },
  },
  methods: {
    clickSelect() {
      this.$emit('change-selection', this.knowledgeID);
    },
  },
};
</script>

<style scoped>
.knowledge-entry {
  color: var(--cameri-primary);
  border-radius: 10px;
  transition: background-color 300ms ease-in-out;
}
.knowledge-entry:hover {
  background-color: var(--cameri-bg-3);
}
.knowledge-options {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.knowledge-entry:hover .knowledge-options {
  opacity: 1;
}
</style>
