<!-- ----------------------------------------------------------------------------------------------------------- -->
<!--   Main component for the vue js app (since all vue components look similar only this has comments)          -->
<!-- ----------------------------------------------------------------------------------------------------------- -->

<!-- HTML Code (structure) -->
<template>
  <div class="card">
    <div class="card-header px-4">
      <the-header></the-header>
    </div>
    <div class="card-body main-card-body">
      <router-view v-slot="slotProps">
        <transition name="route" mode="out-in">
          <component :is="slotProps.Component"></component>
        </transition>
      </router-view>
    </div>
  </div>
</template>

<!-- Javascript Code (logic) -->
<script>
import TheHeader from './components/layout/TheHeader.vue';

export default {
  components: {
    TheHeader,
  },
};
</script>

<!-- CSS Code (style) -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* KM-EP Changes */
#page {
  max-width: 1380px !important;
}

#page > div.main > div.container {
  max-width: 1300px !important;
}

* {
  box-sizing: border-box;
}

/* Main Layout */
.main-card-body {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  height: 75vh;
}

/* Colors */
:root {
  --cameri-primary: hsl(219, 52%, 25%);
  --cameri-primary-darker: hsl(219, 52%, 15%);
  --cameri-bg-1: #858585;
  --cameri-bg-2: #f2f2f2;
  --cameri-bg-3: #dfdfdf;
  --cameri-text-1: #666666;
  --cameri-text-2: #999999;
  --cameri-red: hsl(0, 100%, 60%);
  --cameri-yellow: hsl(60, 100%, 30%);
  --cameri-green: hsl(120, 100%, 30%);
}

.color-red {
  color: var(--cameri-red);
}
.color-yellow {
  color: var(--cameri-yellow);
}
.color-green {
  color: var(--cameri-green);
}

/* Font */
#app,
.table,
.table th,
.table td,
.table-hover {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--cameri-primary);
  border: none;
}
span {
  white-space: pre;
}

/* Scrollbar */
#app ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#app ::-webkit-scrollbar-track {
  background: var(--cameri-bg-2);
  border-radius: 10px;
}

#app ::-webkit-scrollbar-thumb {
  background: var(--cameri-bg-1);
  border-radius: 10px;
}

#app ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Route Transition */
.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}
</style>
